.cuadrado{
    width: 200px;
    height: 200px;
    border-style: solid;
}

.primero{
    background-color: aquamarine;
}

.segundo{
    background-color: chartreuse;

}

.tercero{
    background-color: goldenrod;
}